@use 'variables' as var;

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-family: "Lexend Deca", sans-serif;
}

.main {
  padding: 5.86em 1.5em;
}

.section {
  width: 308px;
  padding: 3.1em;
  box-sizing: border-box;
}

.section--br-start {
  border-radius: 0.5em 0.5em 0 0;
}

.section--br-end {
  border-radius: 0 0 0.5em 0.5em;
}

h1,
h2 {
  font-family: "Big Shoulders Text", cursive;
  color: var.$color-gray;
}

h2 {
  font-size: 2.3em;
  text-transform: uppercase;
}

p {
  font-size: 0.93em;
  line-height: 1.8;
  margin-bottom: 2em;
}

.button {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.95em;
  padding: 0.8em 2em;
  border-radius: 2em;
  border: 2px solid var.$color-gray;
  background: var.$color-gray;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

// Grace's visually hidden helper
.screen-reader-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
