@use 'variables' as var;

body {
  font-family: "lexen Deca", sans-serif;
}

.main {
  padding: 5.86em 1.6em;
}

.section {
  padding: 3.2em;
}

.section--br-top {
  border-radius: 0.5em 0.5em 0 0;
}

.section--br-bottom {
  border-radius: 0 0 0.5em 0.5em;
}

p {
  font-size: var.$size-main;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

// Grace's visually hidden helper
.screen-reader-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
